/*
 *= require_self
 *= require area_select_cn/district-ul
 *= require select2
 */

@import "bootstrap";
@import "font-awesome";

$baseLineHeight: 20px;

.field_with_errors{
  color: red;
}
.field_with_errors .controls{
 border: 1px solid red;
}

body {
    padding-top: 45px;
}

strong {
    font-weight: bold;
    line-height: $baseLineHeight - 1;
}


